body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
}


body > div {
  direction: rtl;
}

.mvh-100 {
  min-height: 100vh;
}

.ant-form-item-label label:after {
  content: none !important;
}
.label {
  color: white;
  font-weight: bold;
}
.pink-btn {
  background-color: #ff9393;
  color: white;
  border-color: #ff9393;
}
.pink-btn:hover, .pink-btn:active, .pink-btn:focus{
  background-color: #d67b7b;
  color: white;
  border-color: #D67B7B;
}
.yellow-btn {
  background-color: #facf5a;
  color: white;
  border-color: #facf5a;
}
.yellow-btn:hover, .yellow-btn:active, .yellow-btn:focus{
  background-color: #e7bf53;
  color: white;
  border-color: #e7bf53;
}
.dark-btn {
  background-color: rgba(41, 132, 185, 0.5);
  color: white;
  border-color: rgba(255, 255, 255, 0.3);;
}
.dark-btn:hover, .dark-btn:active, .dark-btn:focus{
  background-color: rgba(41, 132, 185, 0.2);
  color: white;
  border-color: rgba(255, 255, 255, 0.3);;
}
.p-btn {
  background-color: #3f57c2;
  color: white;
  border-color: #3f57c2;
}
.p-btn:hover, .p-btn:active, .p-btn:focus{
  background-color: #374dab;
  color: white;
  border-color: #3f57c2;
}
.bold {
  font-weight: bold;
}
.title {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.page {
  padding: 0 43px 43px 43px;
}
.sub-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sub-nav li {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}
.card {
  border-radius: 10px;
  background-color: #ffffff;
  margin: 34px 0;
}
.card-section {
  padding: 43px 64px;
  border-bottom: 1px solid #efefef;
}
.card-section:last-of-type {
  border-bottom: none;
}

.content-title {
  color: #1a5d92;
  font-weight: bold;
  font-size: 18px;
}
.ant-row.ant-form-item {
  display: flex;
  flex-flow: row wrap;
  margin-left: 16px;
}
.ant-select-arrow {
  right: auto !important;
  left: 11px !important;
}
.ant-select-selection-selected-value {
  float: right;
  padding-right: 0;
  padding-left: 20px;
}

.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
  text-align: right;
}

.img-responsive {
  max-width: 100%;
}
.ant-calendar-picker .ant-calendar-picker-input {
  padding-right: 30px;
}

.ant-calendar-picker {
  width: 100% !important;
}

.form-ctrls {
  padding: 43px 64px;
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
}
.form-ctrls button:first-of-type {
  margin-left: 16px;
}
.ant-select-dropdown-menu {
  list-style: none;
  padding: 0;
}
.ant-form-item-label label {
  white-space: pre-line;
}
